.container{
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: 200px 100px; */
    grid-template-columns: 2fr 1fr;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: 200px 100px; */
    /* grid-auto-rows: auto; */
    /* grid-auto-rows: minmax(50px, auto); */

    /* grid-gap: 10px; */
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    height: 100vh;
    /* justify-content: end; */
    /* align-content: center; */

    grid-template-areas: "header header"
                         "aside main"
                         "aside main"
                         "footer footer";
}

.grid-item-1{
    background-color: lightblue;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3; */
    /* grid-column: 1 / span 2; */
    grid-area: header;
}

.grid-item-2{
    background-color: lightcoral;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-row: 2/4; */
    /* grid-row: 2/ span 2; */
    grid-area: main;
}

.grid-item-3{
    background-color: lightgreen;
    /* grid-row: 2/4; */
    grid-area: aside;
}

.grid-item-4{
    background-color: lightblue;
    /* grid-column: 1/3; */
    grid-area: footer
}

@media(max-width: 600px){
    .container{
        grid-template-areas: "header"
                             "main"
                             "aside"
                             "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}