*{
    box-sizing: border-box;
    margin: 0px;
}

.box{
    background-color: pink;
    width: 300px;
    height: 100px;
    /* padding: 10px; */
    /* padding-top: 32px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 4px; */
    padding: 32px 12px 8px 4px; /*clockwise - top, right, bottom and left*/
    /* margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px; */
    margin: 20px 10px 5px 5px; /*clockwise - top, right, bottom and left*/
    border: 5px solid purple;
    /* border: 3px dashed purple; */
    /* border: 3px dotted purple; */
    /* margin: 20px 10px  -  top/bottom and right/left */
}