.parent {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
  background-color: blue;
  align-content: center;
  justify-content: center;
  height: 1080px;
}

[class^="child"] {
  background: red;
  border: 1px solid black;
  padding: 10px;
  /* width: 200px; */
  /* height: 100px; */
  font-size: 5px;
}

.child1 {
  grid-column: 3 / span 4;
  background-color: yellow;
}

.child2 {
  grid-row: 3 / span 2;
  background-color: green;
}

.for-grid-layout {
  background-color: magenta;
  display: grid;
  grid-template-rows: 1fr 0.5fr 2fr 1fr;
  gap: 10px;
  margin-top: 100px;
  grid-template-areas:
    "header header"
    "navbar navbar"
    "sidebar content"
    "sidebar content"
    "footer footer";
}

[class^="item"] {
  border: 1px solid #008000;
  padding: 20px;
}
.item1 {
  grid-area: header;
  background-color: #ffcccc;
}
.item2 {
  grid-area: navbar;
  background-color: #ccffcc;
}
.item3 {
  grid-area: content;
  background-color: #ccccff;
}
.item4 {
  grid-area: sidebar;
  background-color: #ffffcc;
}
.item5 {
  grid-area: footer;
  background-color: #ffccff;
}
/* .parent > :nth-child(even) {
    background: blue;
} */
