* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-1 {
  background-color: red;
  width: 300px;
  height: 300px;
  padding: 5%;
  /* border-top-width: 10px;
  border-right-width: 30px;
  border-bottom-width: 2px;
  border-left-width: 2px; */
  /* border-style: none; */
  /* border-style: hidden; */
  /* border-style: dotted; */
  /* border-style: dashed; */
  /* border-style: solid; */
  border-style: double;
  /* border-style: groove; */
  /* border-style: ridge; */
  /* border-style: inset; */
  /* border-style: outset; */

  border-color: rebeccapurple green yellow #ffeeaa;

  border-width: 10px 30px;
}

.box-2 {
  background-color: blue;
  width: 200px;
  height: 200px;
  margin: 20px 10px;
}

.box-3 {
  background-color: green;
  width: 100px;
  height: 100px;
  margin-top: -40px;
}

.box-4 {
  background-color: yellow;
  width: 600px;
  height: 600px;
  padding: 10px;
  overflow: auto;
  margin-bottom: 200px;
}

.customize-span {
  width: 50px;
  height: 30px;
  display: inline-block;

  background-color: chartreuse;
}
