.item{
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 8em;
    border-radius: 15px;
    background-color: lightcoral;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 652px) {
    .item{
        width: 100px;
        height: 100px;
        font-size: 5em;
    }
}

@media(max-width: 450px) {
    .item{
        width: 50px;
        height: 50px;
        font-size: 2.5em;
    }
}

@media(max-width: 225px) {
    .item{
        width: 20px;
        height: 20px;
        font-size: 1em;
        border-radius: 5px;
    }
}