.position-lecture {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    z-index: 20;
}

* {
	box-sizing: border-box;
}

section {
	border: 1px solid blue;
	width: 100%;
	float: left;
}

div {
	margin: 5px;
	width: 50px;
	height: 150px;
}

.left {
	float: left;
	background: pink;
}

.right {
	float: right;
	background: cyan;
}
/* 
.box {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: red;
	color: white;
}

#two {
	position: relative;
	top: 20px;
	left: 20px;
	background: blue;
    z-index: 15;
}

#four {
    position: relative;
    right: 25px;
    top: 50px;
    background-color: aqua;
}

#three {
    position: relative;
    z-index: 10;
}

div.relative {
	position: relative;
	width: 400px;
	height: 200px;
	border: 3px solid #73AD21;
}

div.absolute {
	position: absolute;
	top: 5px;
	right: 50px;
	width: 200px;
	height: 100px;
	border: 3px solid #73AD21;
}

.box {
	width: 100px;
	height: 100px;
	background: red;
	color: white;
}

#ten {
	position: sticky;
	top: 10px;
}

#one {
	position: fixed;
	top: 80px;
	left: 10px;
	background: blue;
}

.outer {
	width: 500px;
	height: 300px;
	overflow: scroll;
	padding-left: 150px;
} */
