* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  width: 300px;
  height: 300px;
  background-color: lightblue;
  border: 2px solid blue;
  margin: 20px;
}

.static {
  position: static;
}
.relative {
  position: relative;
  left: 30px;
  top: 50px;
}
.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.absolute-2 {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 100px;
  height: 100px;
  margin: 0;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.fixed {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 0;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  height: 40px;
}


section {
	border: 1px solid blue;
	width: 100%;
	float: left;
}

div {
	margin: 5px;
	width: 50px;
	height: 150px;
}

.left {
	float: left;
	background: pink;
}

.right {
	float: right;
	background: cyan;
}