<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <span style="background-color: blue;">Hello I'm a span!</span>
     <span style="background-color: pink;">Hello I'm a second span!</span>
          <span style="background-color: pink;">Hello I'm a second span!</span>
<!-- 
               <span style="background-color: pink;">Hello I'm a second span!</span>

                    <span style="background-color: pink;">Hello I'm a second span!</span>

                         <span style="background-color: pink;">Hello I'm a second span!</span>

                              <span style="background-color: pink;">Hello I'm a second span!</span>

                                   <span style="background-color: pink;">Hello I'm a second span!</span>

                                        <span style="background-color: pink;">Hello I'm a second span!</span>

                                             <span style="background-color: pink;">Hello I'm a second span!</span> -->

    <div style="background-color: green;">Hello I'm a div!</div>
    <div style="background-color: red;">Hello I'm a second div!</div>
</body>
</html>