* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
}

.card {
  border: 2px solid #000;
  padding: 20px;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 10px #00000066);
  background-color: #dedede;
}

@media (max-width: 800px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 500px) {
  .card {
    width: 90%;
  }
}
