h1 {
    background-color: red;
    color: #fff;
}

@media screen and (min-width: 600px) {
    h1 {
        width: 400px;
        background-color: rebeccapurple;
        margin: 0 auto;
    }
}

@media screen and (max-width: 440px) {
    h1 {
        background-color: aqua;
        color: black;
    }
}

@media screen and (min-width: 450px) and (max-width: 580px) {
    h1 {
        background-color: yellow;
        color: blue;
    }
}

@media (orientation: landscape) {
    h1 {
        height: 200px;
        background-color: darkblue;
        color: darkorchid;
    }
}


.layout-example {
    background-color: lightgrey;
    height: 300px;
    margin-top: 40px;
}

.layout-example > div:nth-child(1) {
    width: 20%;
    background-color: lime;
    height: 100%;
    float: left;
}

.layout-example > div:nth-child(2) {
    width: 40%;
    background-color: orange;
    height: 100%;
    float: left;
}

.layout-example > div:nth-child(3) {
    width: 40%;
    background-color: purple;
    height: 100%;

    float: right;
}