* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.small-box {
  width: 100px;
  height: 100px;
}

.main-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
